*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    position: relative;
    height: fit-content;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    padding: 30px 0;
    justify-content: center;
    align-items: center;

}
.back-vid{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;

}
@media(max-aspect-ratio:16/9){
    .back-vid{
        width: 100%;
        height: auto;
    }
}
.main{
    width: 80%;
    height: 90%;
    background-color: #4ad0ee1b;
    backdrop-filter: blur(10px);
    border-radius: 50px;
    box-shadow: 5px 5px 20px 1px aqua;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
}
nav h1{
    color: white;
    font-size: 30px;
    font-weight: 900;


}
nav ul{
    list-style: none;
    display: flex;

}
nav a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: 0.2s;
    padding: 0px 25px;
}
nav a:hover,.active
{
    color: blueviolet;
    text-decoration: underline;
}
.hero
{
    display: flex;
    align-items: center;
    height: 70%;
    padding: 0 10%;
    color: white;
    justify-content: space-between;

}
.hero h1
{
    font-size: 60px;
}
.hero h2{
    font-size: 30px;
    margin-top: 20px;
    text-transform: uppercase;
    background: linear-gradient(to right);
    background-size: 200%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate-gradient 2.5s linear infinite;
}
.hero p{
    max-width: 450px;
    margin-top: 7px;
    margin-bottom: 20px;
}
@keyframes animate-gradient
{
    to
{
    background-position: 200%;

}}
.button
{

    display: flex;
}
.btn{
    display: inline-block;
    padding: 15px 30px;
    background-color: aqua;
    border: 2px solid royalblue;
    border-radius: 30px;
    box-shadow: 0 0 10px rebeccapurple;
    font-size: 16px;
    font-weight: 900;
    color: rgb(72, 15, 119);
    cursor: pointer;
    margin-right: 15px;
    transition: 0.3s;
    text-wrap: nowrap;

}
.btn:hover{
    background-color: transparent;
    box-shadow: none;
    color: cadetblue;

}
.ul-icons
{

    display: flex;
    align-items: center;

}
.ul-icons li{
    list-style: none;
    margin-left: 10px;
}
.ul-icons a{

    display: inline-flex;
    padding: 8px;
    border-radius: 50%;
    border: 2px solid blueviolet;
    font-size: 20px;
    color:aqua;
    text-decoration: none;
    margin: 0.7px;
    transition: 0.3s;

}
.ul-icons li a:hover{

    background: linear-gradient(to right,red,blue);
    color: turquoise;
    box-shadow: 0 0 10px royalblue;
    
}
.jin-img{
    width: 400px;
    height: 400px;
    background-color:none;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px navy;
    transition: 0.5s;



}

.jin-img:hover{
    box-shadow: 0 0 25px royalblue;

}
.hero-img img{
    position: absolute;
    width: 85%;
    mix-blend-mode: lighten;
}
.info-sec
{
    display: flex;
    width: 100%;
    gap: 20px;
    padding: 0 10%;
    flex-wrap: wrap;
    justify-content: space-between;

}

.info-card
{

    width: 100%;
    align-items: center;
    max-width: fit-content;
    color: white;
    z-index: 1;

}
.info-sec h1{
    font-size: 30px;
    text-transform: uppercase;
    background: linear-gradient(to right) purple,navy,rebeccapurple;
    background-size: 200%;
    background-clip: text;
    /* -webkit-text-fill-color: transparent; */
    animation: aninate-gradient 2.5s linear infinite;
    margin-right: 10px;
    color: blueviolet;
    z-index: 1;

}
 .info-sec p{
    color: rgb(24, 224, 57);
    font-size: 20px;
    font-weight: 900;
 }

@media(min-width: 1220px)
{
    body{
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }
}
/* .info-sec{
    margin-top: 30px; */


@media (max-width: 950px)
{
    body{
        height: fit-content;
        overflow: auto;
    }
    

.main nav ul{
    display: none;

}
.button{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.hero{
    display: flex;
    flex-direction: column;

}
.hero-img{
    width: 400px;
    height: 400px;
    margin: 20px 0;

}
}

@media(max-width: 440px)
{
    .hero-img{
        width: 300px;
    
    }
    .hero h1{
        font-size: 40px;
    }
}


